<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="container">
      <a class="navbar-brand" href="/">F8 online course</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://imgs.search.brave.com/qBGNRg5weMn0-SeRIqoy5ygq2Xik4uij2JJPPvBmfP8/rs:fit:1000:1080:1/g:ce/aHR0cHM6Ly9jZG40/LnZlY3RvcnN0b2Nr/LmNvbS9pLzEwMDB4/MTAwMC83Ny80My95/b3VuZy1tYW4taGVh/ZC1hdmF0YXItY2Fy/dG9vbi1mYWNlLWNo/YXJhY3Rlci12ZWN0/b3ItMjE3NTc3NDMu/anBn" alt="" class="user-avatar">
            Xuân Huy
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/khoa-hoc/create">Đăng khóa học</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
            <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </nav>